{% extends 'base.html' %}

{% block page_heading %} {{recipe.name}} {% endblock %}

{% block content %}
    <h4> 
        by {{recipe.author}}
    </h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li> 
            {{ingredient.quantity}} of {{ingredient.ingredient.name}}
        </li>
        {% endfor %}
        {% for img in recipe.image.all %}
            {% if img.recipe_image %}
            <img src="{{ img.recipe_image.url }}" alt="{{ img.description }}">
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}